* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	
	background-color: black;
	display: flex;
	justify-content: center;
	background-image: url(./img/bgbig2.png);
	background-repeat: no-repeat;
	background-size: auto;
}
.dokument {
	position: absolute;
	display: flex;
	justify-content: center;
	
	background-color: rgb(41, 40, 40, 0.65);
	margin-top: 3rem;
	height: 25rem;
	width: 15.6rem;
	animation: appear 2s;
	animation-delay: 1s;
	animation-fill-mode: both;
	
}
/* .email img {
	position: absolute;
	height: 50px;
	margin-top: 5rem;
	left: 50%;
    transform: translateX(-50%);
}
p {
	margin-top: 8rem;
	padding: 1rem;
	font-size: 1rem;
	color: aqua;
}   */

 .contact {
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	margin-top: 3rem;
	background-color: rgb(41, 40, 40, 0.65);
	padding: 1.8rem;
	height: 25rem;
	width: 16.5rem;
	
	animation: appear 3s;
	animation-delay: 1s;
	animation-fill-mode: both;
} 
 .contact-box {
	display: flex;
	flex-direction: column;
	padding: 5px;
    animation: appear 3s;
	animation-delay: 2s;
	animation-fill-mode: both;
}

.contact label {
	color: aqua;
	font-size: 12px;
	margin-bottom: 10px;
}
.contact input,
.contact textarea {
	background-color: rgb(55, 54, 54);
	padding: 10px;
	font-size: 12px;
	font-family: inherit;
	border: 1px solid aqua;
}
.contact textarea {
	resize: vertical;
	min-height: 100px;
}
button{
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
	font-size: 1rem;
	padding: 8px;
	border: 1px solid aqua;
	color: aqua;
	background-color: rgb(55, 54, 54);
    animation: appear 3s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
}
button:hover {
	background-color: rgb(37, 36, 36);
}

.contact textarea:hover {
	background-color: white;
}

.navbar {
	margin-top: 32rem;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar li a {
	padding: 0.3rem;
	font-size: 0.6rem;
	color: aqua;
	text-decoration: none;
	display: block;
}
.navbar ul li:nth-child(5) {
	background-color: rgb(90, 3, 3);
}


@media (min-width: 768px) {
	
	.contact {
		position: absolute;
		width: 50%;
		height: 35rem;
		top: 8.5rem;
	}
	.contact-box {
		padding: 10px;
	}
	button {
		margin-top: 5rem;
		font-size: 1.2rem;
	}
	.contact label {
		font-size: 1.2rem;
	}
	.navbar {
		
		width: 88vw;
	}
	.navbar ul {
		bottom: 24rem;
		margin-left: 75%;
		display: flex;
		justify-content: center;
		position: absolute;
		flex-direction: column;
		list-style-type: none;
		text-align: center;
	}
	.navbar ul li a {
		font-size: 0.6rem;
		padding: 1rem;
	}
	
}
@media (min-width: 1200px) {
	.contact {
		width: 40vw;
		height: 35rem;
		top: 8.5rem;
	}
	.contact-box {
		padding: 10px;
		
	}
	button {
		margin-top: 5rem;
		font-size: 1.2rem;
	}
	.contact label {
		font-size: 1.2rem;
	}
	.navbar ul {
		margin-top: -7.5rem;
	}
	.navbar ul li a {
		font-size: 0.8rem;
		padding: 1rem;
	}

}
@media (min-width: 1400px) {
	body {
		background-image: url('./img/bgbig2.png');
		background-size: 100%;
	}

.navbar ul {
	margin-top: -8.5rem;
} 
.navbar ul li a {
	font-size: 1rem;
	padding: 1rem;
} 
} 
@keyframes rotation {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(180deg);
	}
	}



 @keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}  
