* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
	display: flex;
	justify-content: center;
	background-image: url(./img/bgbig2.png);
	background-repeat: no-repeat;
	background-size: auto;
}

.contact {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
	
	margin-top: 3rem;

	padding: 1.8rem;
	height: 25rem;
	width: 80%;
}

.contact-box {
	display: flex;
	flex-direction: column;
	padding: 5px;
	
}
.contact input {
	animation: slideDown 4s;
	animation-fill-mode: both;
	animation-delay: 0.3s;
	transition: 0.3s;
}

.contact label {
	
	color: aqua;
	font-size: 12px;
	margin-bottom: 10px;
	animation: slideDown 4s;
	animation-fill-mode: both;
	animation-delay: 0.3s;
	transition: 0.3s;
}
.contact input,
.contact textarea {
	background-color: rgb(55, 54, 54);
	padding: 10px;
	font-size: 12px;
	font-family: inherit;
	border: 1px solid aqua;
}
.contact textarea {
	
	resize: vertical;
	width: 10rem;
	min-height: 6rem;
	animation: slideDown 4s;
	animation-fill-mode: both;
	animation-delay: 0.3s;
	transition: 0.3s;
}
button {
	cursor: pointer;
	margin-top: 20px;
	border: none;
	font-size: 0.8rem;
	padding: 5px 10px;
	border-radius: 5px;
	color: aqua;
	background-color: rgb(90, 3, 3);
	animation: appear 4s;
	animation-fill-mode: both;
	animation-delay: 4s;
	transition: 0.3s;
}
	
	


.contact textarea:hover {
	background-color: white;
}
.contact input:hover {
	background-color: white;
}

.navbar {
	margin-top: 32rem;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar li a {
	padding: 0.3rem;
	font-size: 0.6rem;
	color: aqua;
	text-decoration: none;
	display: block;
}
.navbar ul li:nth-child(5) {
	background-color: rgb(90, 3, 3);
}

@media (min-width: 768px) {
	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 50%;
	    transform: translateX(-50%);
		width: 50%;
		height: 35rem;
		top: 8.5rem;
	}
	.contact-box {
		width: 15rem;
		padding: 10px;
	}
	.contact textarea {
		width: 14rem;
	}
	button {
		width: 5rem;
		font-size: 0.8rem;
		padding: 1rem;
		border-radius: 10px;
		background-color: rgb(90, 3, 3);
		border: none;
	}
	.contact label {
		font-size: 1.2rem;
	}
	.navbar {
		width: 88vw;
	}
	.navbar ul {
		bottom: 24rem;
		margin-left: 75%;
		display: flex;
		justify-content: center;
		position: absolute;
		flex-direction: column;
		list-style-type: none;
		text-align: center;
	}
	.navbar ul li a {
		font-size: 0.6rem;
		padding: 1rem;
	}
}
@media (min-width: 1200px) {
	.contact {
		width: 40vw;
		height: 35rem;
		top: 8.5rem;
	}
	.contact-box {
		padding: 10px;
	}
	button {
		padding: 15px;
		width: 7rem;
		font-size: 1rem;
	}
	.contact label {
		font-size: 1.2rem;
	}
	.navbar ul {
		margin-top: -7.5rem;
	}
	.navbar ul li a {
		font-size: 0.8rem;
		padding: 1rem;
	}
}
@media (min-width: 1400px) {
	body {
		background-image: url('./img/bgbig2.png');
		background-size: 100%;
	}
	.contact {
		width: 40vw;
		height: 35rem;
		top: 8.5rem;
	}
	.contact-box {
		padding: 10px;
	}

	.navbar ul {
		margin-top: -8.5rem;
	}
	.navbar ul li a {
		font-size: 1rem;
		padding: 1rem;
	}
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: translateY(-900px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
