* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	background-image: url(./img/bgbig2.png);
	background-repeat: no-repeat;
	background-size: auto;
}
.container_en {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.dokument {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(41, 40, 40, 0.65);
	height: 25rem;
	width: 16rem;
	margin-bottom: 3.5rem;

	animation: rotation 2s;
}

.gh_logo img {
	background-color: rgb(90, 3, 3);

	height: 60px;
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 2s;
	transition: 0.3s;
}

.navbar_one ul li {
	list-style-type: none;
	padding: 0.8rem;
}
.navbar_one ul li a {
	text-decoration: none;
	color: aqua;
	cursor: pointer;
}
.navbar_one ul li:first-child a {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3s;
	transition: 0.3s;
}

.navbar_one ul li:nth-child(2) a {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3.4s;
	transition: 0.3s;
}
.navbar_one ul li:nth-child(3) a {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3.8s;
	transition: 0.3s;
}
.navbar_one ul li:nth-child(4) a {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 4.2s;
	transition: 0.3s;
}
.navbar_one ul li:nth-child(5) a {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 4.6s;
	transition: 0.3s;
}
.navbar_one ul li:hover {
	background-color: rgb(90, 3, 3);
	border-radius: 2px;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar li a {
	padding: 0.3rem;
	font-size: 0.6rem;
	color: aqua;
	text-decoration: none;
	display: block;
}

.navbar ul li:nth-child(3) {
	background-color: rgb(90, 3, 3);
}

@media (min-width: 768px) {
	.container_en {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.dokument {
		
		justify-content: space-evenly;
		
		width: 400px;
		height: 550px;
	}

	.gh_logo img {
		background-color: rgb(90, 3, 3);

		height: 80px;
		animation: appear 3s;
		animation-fill-mode: both;
		animation-delay: 2s;
		transition: 0.3s;
	}
	
	.navbar_one ul li {
		color: aqua;
		list-style-type: none;
		padding: 0.8rem;
		cursor: pointer;
	}
	.navbar {
		margin-left: 8rem;
	}

	.navbar ul {
		flex-direction: column;
	}
	.navbar ul li {
		margin-bottom: 10px;
	}
	.navbar ul li a {
		color: aqua;
		text-decoration: none;
		padding: 10px 20px;
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.dokument {
		
		justify-content: space-evenly;
		
		width: 400px;
		height: 550px;
	}
	.gh_logo img {
		background-color: rgb(90, 3, 3);
		
		height: 100px;
		animation: appear 3s;
		animation-fill-mode: both;
		animation-delay: 2s;
		transition: 0.3s;
	}
	
	.navbar_one ul li {
		font-size: 1.5rem;
		color: aqua;
		list-style-type: none;
		padding: 0.8rem;
		cursor: pointer;
	}
	
	.navbar ul li a {
		font-size: 0.8rem;
		padding: 1rem;
	}
}
@media (min-width: 1400px) {
	body {
		background-image: url('./img/bgbig2.png');
		background-size: 100%;
	}
	
	.navbar ul li a {
		font-size: 1rem;
		padding: 1rem;
	}
}


@keyframes rotation {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(180deg);
	}
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

