* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	background-image: url(./img/bgbig2.png);
	background-repeat: no-repeat;
	background-size: auto;
}
.container_en {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.dokument {
	display: flex;
	justify-content: center;

	flex-direction: column;
	background-color: rgb(41, 40, 40, 0.65);
	height: 25rem;
	width: 16rem;
	margin-bottom: 3.5rem;
	animation: rotation 2s;
}

.dokument img {
	height: 35px;
	padding: 2px 22px;
}
span {
	position: absolute;
	color: aqua;
	margin-top: 0.9rem;
	font-size: 0.6rem;
}
.figma {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 2.4s;
	transition: 0.3s;
}
.canva {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 2.6s;
	transition: 0.3s;
}
.mysql {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3s;
	transition: 0.3s;
}
.java {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 2s;
	transition: 0.3s;
}
.cplusplus {
	animation: appear 2.5s;
	animation-fill-mode: both;
	animation-delay: 2.2s;
	transition: 0.3s;
}
.miro {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 2.8s;
	transition: 0.3s;
}
.sqlsm {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3.2s;
	transition: 0.3s;
}
.modelio {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3.4s;
	transition: 0.3s;
}
.microsoftteams {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3.6s;
	transition: 0.3s;
}
.ciscopackettracer {
	animation: appear 3s;
	animation-fill-mode: both;
	animation-delay: 3.8s;
	transition: 0.3s;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar li a {
	padding: 0.3rem;
	font-size: 0.6rem;
	color: aqua;
	text-decoration: none;
	display: block;
}

.navbar ul li:nth-child(4) {
	background-color: rgb(90, 3, 3);
}

@media (min-width: 768px) {
	.container_en {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.dokument {
		width: 400px;
		height: 550px;
	}
	.dokument img {
		
		height: 50px;
		padding: 0.6rem;
	}
	span {
		position: absolute;
		color: aqua;
		margin-top: 0.9rem;
		font-size: 0.8rem;
	}
	.navbar {
		margin-left: 8rem;
	}
	.navbar ul {
		flex-direction: column;
	}
	.navbar ul li {
		margin-bottom: 10px;
	}
	.navbar ul li a {
		color: aqua;
		text-decoration: none;
		padding: 10px 20px;
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.dokument img {
		height: 50px;
		padding: 0.6rem;
	}
	span {
		position: absolute;
		color: aqua;
		margin-top: 0.9rem;
		font-size: 0.8rem;
	}

	.navbar ul li a {
		font-size: 0.8rem;
		padding: 1rem;
	}
}
@media (min-width: 1400px) {
	body {
		background-image: url('./img/bgbig2.png');
		background-size: 100%;
	}

	img {
		
		padding: 0.6rem;
	}
	span {
		position: absolute;
		color: aqua;
		margin-top: 0.9rem;
		font-size: 0.8rem;
	}

	.navbar ul li a {
		font-size: 1rem;
		padding: 1rem;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes rotation {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(180deg);
	}
}
