* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: auto;
	background-image: url(./img/bgbig2.png);
	font-family: "Poppins", sans-serif;
	
	
}
.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	border: 1px solid aqua;
	height: 15.3rem;
	width: 13.7rem;
	background-color: rgba(0, 0, 0, 0.65);
	margin-top: 10rem;
}
h1 img {
	height: 4rem;
	color: aqua;
	position: absolute;
	top: 5.5rem;
	left: -3.6rem;
	animation: rotation1 7s linear infinite;
}
h2 img {
	height: 4rem;
	color: aqua;
	position: absolute;
	top: 5.5rem;
	right: -3.6rem;
	animation: rotation2 7s linear infinite;
}
.logo {
	color: aqua;
	font-size: 0.8em;
	padding-top: 1.8em;
	padding-bottom: 1em;
	margin-bottom: 3.1rem;
	animation: appearance 3s;
	animation-delay: 1s;
	animation-fill-mode: both;
}
.photokb {
	height: 6rem;
	margin-top: -1.6rem;
	animation: appearance 5s;
	animation-delay: 3s;
	animation-fill-mode: both;
}
a {
	font-size: 0.5rem;
	color: aqua;
	text-decoration: none;
	border: 0.5px solid aqua;
    margin-top: 1.5rem;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	animation: appearance 3s;
	animation-delay: 2s;
	animation-fill-mode: both;
}
@media (min-width: 576px) {
	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		border: 1px solid aqua;
		height: 26rem;
		width: 20rem;
		background-color: rgba(0, 0, 0, 0.65);
		margin-top: 15rem;
	}
	h1 img {
		height: 6rem;
		color: aqua;
		position: absolute;
		top: 8.4rem;
		left: -5rem;
		animation: rotation1 7s linear infinite;
	}
	h2 img {
		height: 6rem;
		color: aqua;
		position: absolute;
		top: 8.4rem;
		right: -5rem;
		animation: rotation2 7s linear infinite;
	}
	.logo {
		color: aqua;
		font-size: 1rem;
		
		margin-bottom: 3.1rem;
		animation: appearance 3s;
		animation-delay: 1s;
		animation-fill-mode: both;
	}
	.photokb {
		height: 10rem;
		margin-top: -1rem;
		animation: appearance 5s;
		animation-delay: 3s;
		animation-fill-mode: both;
	}
	a {
		font-size: 0.5rem;
		color: aqua;
		text-decoration: none;
		border: 0.5px solid aqua;
		margin-top: 5.5rem;
		padding-left: 0.9rem;
		padding-right: 0.9rem;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
		animation: appearance 3s;
		animation-delay: 2s;
		animation-fill-mode: both;
	}

}






@keyframes appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes rotation1 {
	0% {
		transform: perspective(300px) rotateY(360deg);
	}

	100% {
		transform: perspective(300px) rotateY(0deg);
	}
}
@keyframes rotation2 {
	0% {
		transform: perspective(300px) rotateY(0deg);
	}

	100% {
		transform: perspective(300px) rotateY(360deg);
	}
}
